<div>
    <table class="table">
      <tr>
        <th scope="col">Age:</th>
        <th scope="col">Height:</th>
        <th scope="col">Weight:</th>
        <th scope="col">BMI:</th>
      </tr>

    
      <tr
        *ngFor="let record of histBmi;"
        class="table-success"
      >
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ record.age }}</td>
        <td>{{ record.height }}</td>
        <td>{{ record.weight }}</td>
        <td>{{ record.i }}</td>
      </tr>

  </table>
  </div>